/*
 * SAMSUNG EXYNOS9810 board device tree source
 *
 * Copyright (c) 2017 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

#include "battery-data-r7-s2mu106.dtsi"

&pinctrl_0 {
	if_pmic_irq: if-pmic-irq {
		samsung,pins = "gpa2-0";
		samsung,pin-function = <0xf>;
		samsung,pin-pud = <0>;
		samsung,pin-drv = <0>;
	};

	usbpd_irq: usbpd-irq {
		samsung,pins = "gpa1-6";
		samsung,pin-function = <0xf>;
		samsung,pin-pud = <3>;
		samsung,pin-drv = <3>;
	};
};

&hsi2c_40 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	samsung,i2c-max-bus-freq = <400000>;
	s2mu106@3D {
		status = "okay";
		compatible = "samsung,s2mu106mfd";
		reg = <0x3D>;
		pinctrl-names = "default";
		pinctrl-0 = <&if_pmic_irq>;
		s2mu106,irq-gpio = <&gpa2 0 1>;
		s2mu106,wakeup;

		flash_led {
			torch-gpio = <&gpg2 4 0>;
			flash-gpio = <&gpg3 5 0>;
			flash_current = <1400>;
			torch_current = <125>;
			movie_current = <200>;
			factory_current = <350>;
			flashlight_current = <20 40 70 100 150>;
			status = "okay";
		};
	};
};

&hsi2c_41 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	samsung,i2c-max-bus-freq = <400000>;
	usbpd-s2mu106@3C {
		status = "okay";
		compatible = "s2mu106-usbpd,i2c";
		reg = <0x3C>;
		pinctrl-names = "default";
		pinctrl-0 = <&usbpd_irq>;
		usbpd,usbpd_int = <&gpa1 6 0>;
		pdic-manager {
			/* sink */
			pdic,max_power = <5000>;
			pdic,op_power = <2500>;
			pdic,max_voltage = <6000>;
			pdic,max_current = <2000>;
			pdic,min_current = <500>;

			pdic,giveback = <0>;
			pdic,usb_com_capable = <1>;
			pdic,no_usb_suspend = <1>;

			/* source */
			source,max_voltage = <5000>;
			source,min_voltage = <4000>;
			source,max_power = <2500>;

			/* sink cap */
			sink,capable_max_voltage = <5000>;
		};
	};
};

